<div class="item center-block" data-value={{_id}}>
      <div class="item-name"> {{name}}: ${{price}} <div>
      <div class="item-desc"> {{description}} <div>
      <div><button type="button" class="btn btn-success btn-xs add-to-cart" data-item-id="{{_id}}">Add To Cart</button></div>

</div>
